version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: postgres_ramadan
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_ramadan
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@ifunggul.ac.id
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "44065:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:
